$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: rgb(225, 225, 225);
$basic-dark-grey: #0f1a1c;
$basic-light-grey: #eaedef;
$basic-lightest-grey: #576f76;
$basic-copyright: #434343;

$border-raduis-item: 10px;
$border-raduis-subitem: 0 10px 10px 0;
$padding: 5px 15px;
